.document-content-area--inner-content {
  overflow: hidden;
}

form.odoform fieldset.section.fieldset {
  padding-left: 0;
  padding-right: 0;
  font-family: &#39;Montserrat&#39;, arial, sans-serif;
}

div[class*=&#34;item control-group&#34;] &gt; label[class*=&#34;control-label span2&#34;],
form.odoform .inline_group_item label {
  font-family: &#34;Montserrat&#34;,sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.41667rem;
  margin: 0rem 0rem 0.54167rem 0rem;
  letter-spacing: 1px;
  color: #000;
}

form.odoform .inline_group_item label {
  color: #929292;
  margin-top: 0.5rem;
}

form.odoform textarea, form.odoform select, form.odoform input[type=&#34;text&#34;], form.odoform input[type=&#34;password&#34;], form.odoform input[type=&#34;datetime&#34;], form.odoform input[type=&#34;datetime-local&#34;], form.odoform input[type=&#34;date&#34;], form.odoform input[type=&#34;month&#34;], form.odoform input[type=&#34;time&#34;], form.odoform input[type=&#34;week&#34;], form.odoform input[type=&#34;number&#34;], form.odoform input[type=&#34;email&#34;], form.odoform input[type=&#34;url&#34;], form.odoform input[type=&#34;search&#34;], form.odoform input[type=&#34;tel&#34;], form.odoform input[type=&#34;color&#34;], form.odoform .uneditable-input {
  color: #091f2f;
  border: 3px solid;
  padding: 5px 15px;
  height: 65px;
  font-size: 18px;
  font-family: Lora, serif;
}

form.odoform fieldset.fieldset p {
  font-family: Lora, serif;
  font-size: 1.3rem;
  line-height: 1.6 !important;
  font-style: italic;
  color: #091F2F;
}

ul li {
    list-style-type: circle;
     font-family: Lora-Regular;
     font-size: 1.3rem;
     line-height: 39px;
     font-style: italic;
     color: #091F2F;
     margin: .5rem 10% .5rem 5%; 
}

.module_actions .action_button.primary {
  background-color: #288be4;   
}

.action_button, .btn, .btn-primary {
  border-radius: 0 !important;
  border: none;
  background: #288be4;
  text-transform: uppercase !important;
  letter-spacing: 1px;
  font-size: 14px !important;
  text-shadow: none;
  font-family: &#34;Montserrat&#34;,sans-serif;
  box-shadow: none !important;
}

.action_button:hover, .btn-primary:hover {
  background-color: #fb4d42 !important;
}

.control-label, .inline_group_item label {
  font-family: &#39;Montserrat&#39;, arial, sans-serif;
  text-transform: uppercase;
  color: #091f2f;
}

.clear-signature {
  background-color: #f3f3f3 !important;   
  color: #091f2f !important;
}

.clear-signature:hover {
  color: #fff !important;   

}

a:link {
 font-family: Lora, serif;
 font-size: 1.3rem;

}
